@import "tailwindcss";


@theme {
  --font-sans: var(--font-inter);
  --font-mono: var(--font-space-mono);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

:root {
  /* Global */
  --background: #0F0F0F;
  /* Deep Carbon */
  --foreground: #FFFFFF;
  /* Signal White */

  /* Royal Neon Palette */
  --neon-norris: #D2FF00;
  /* Volt */
  --royal-gold: #F5BD02;
  /* Royal Gold Base */
  --royal-gold-gradient: linear-gradient(135deg, #F5BD02 0%, #FFD700 100%);
  --deep-carbon: #0F0F0F;
  --graphite-grey: #1A1A1A;

  /* Utils */
  --card-bg: rgba(255, 255, 255, 0.03);
}

@keyframes glitch-anim {
  0% {
    clip-path: inset(20% 0 80% 0);
    transform: translate(-2px, 1px);
  }

  20% {
    clip-path: inset(60% 0 10% 0);
    transform: translate(2px, -1px);
  }

  40% {
    clip-path: inset(40% 0 50% 0);
    transform: translate(-2px, 2px);
  }

  60% {
    clip-path: inset(80% 0 5% 0);
    transform: translate(2px, -2px);
  }

  80% {
    clip-path: inset(10% 0 70% 0);
    transform: translate(-1px, 1px);
  }

  100% {
    clip-path: inset(30% 0 20% 0);
    transform: translate(1px, -1px);
  }
}

.animate-glitch {
  animation: glitch-anim 0.3s infinite linear alternate-reverse;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: var(--neon-norris);
  color: var(--deep-carbon);
}

/* Remove default scroll behavior to let Lenis handle it */
html {
  /* scroll-behavior: smooth; */
}